# Veri Tipi Dönüşümleri

Pythonda veri tiplerinin birbirine dönşümü oldukça önemlidir. Bazı zamanlarda tam sayıyı ondalıklı sayıya dönüştürme bazen de stringi tam sayıya dönüştürme işlemleri programımızı yazarken oldukça önem taşır.

## Tam Sayıyı Ondalıklı Sayıya Dönüştürme

Bir tamsayı değeri (interger) ondalıklı sayı(float) dönüştürmek için **float()** fonksiyonunu kullanabiliriz.

In [1]:
#Çevireceğimiz sayıyı parantez içine atıyoruz.

a = 43
float(a)

43.0

In [2]:
float(-1)

-1.0

In [3]:
float(9)

9.0

## Ondalıklı Sayıyı Tam Sayıya Çevirme

Bir ondalıklı sayı (float)  tam sayı değeri (interger) dönüştürmek için **int()** fonksiyonunu kullanabiliriz.

In [4]:
int(4.7)

4

In [5]:
int(10.34567)

10

In [7]:
a = 4
b = 2

int(a/b)

2

## Sayıları Stringlere Çevirme

Bir sayıyı stringe dönüştürmek için **str()** fonksiyonunu kullanabiliriz.

In [8]:
a = 6955
b = str(a)

b

'6955'

In [9]:
a = 5858

str(a)

'5858'

In [10]:
a = str(345)

len(a)          #sayının uzunluğunuda bu şekilde alabiliriz.

3

In [11]:
a = str(3.14)

a

'3.14'

## Stringleri Tam Sayıya Çevirme

Bir stringi tamsayıya çevirmek için her zaman **int()** fonksiyonunu kullanabiliriz. Ancak biraz dikkatli olmamızda fayda var. Dönüştürme işlemini yaparken strigin her bir karakterinin bir rakam olduğundan emin olmalıyız. Örneklere bakalım;

In [12]:
#Doğru
a = "5847490"
b = int(a)
b

5847490

In [13]:
#Hatalı - Her bir karakterin 10'luk tabanda olması gerekir.

a = "dknj493la03"
b = int(a)

ValueError: invalid literal for int() with base 10: 'dknj493la03'

## Stringleri Ondalıklı Sayıya Çevirme

Bir stringi ondalıklı sayıya dönüştürmek istersek eğer **float()** fonksiyonunu kullanabiliriz. Dönüştürme işlemi yaparken stringin mutlaka sayı şeklinde olması gereklidir.

In [14]:
#Doğru kod

a = "3.2445"
b = float(a)

3.2445

In [ ]:
a = "7.545"
float(a)

In [16]:
#Hatalı kod

a = "3.13.54654"
float(a)

ValueError: could not convert string to float: '3.13,54654'